<div class="register_wrapper" [class.dark-mode] = 'isDarkMode'>
  <i
    class="pi theme-icon"
    [class]="isDarkMode ? 'pi pi-sun' : 'pi pi-moon'"
    (click)="toggleDarkMode()">
  </i>

  <p-card class="register_card">
    <ng-template pTemplate="header">
      <div class = "card-header">
        <i class = "pi pi-user-plus account-icon"></i>
        <h2>Register Your Account</h2>
      </div>
    </ng-template>

    <form [formGroup]="registerForm" (ngSubmit)="submit()" class="form_group">

      <!-- SINGLE WIDTH COLUMN -->
      <div class="form-column">

        <!-- Full Name -->
        <div class="field-container">
          <p-floatLabel variant="on">
            <input
              pInputText
              id="fullName"
              type="text"
              formControlName="fullName"
              [invalid]="isInvalid('fullName')" />
            <label for="fullName">Full Name</label>
          </p-floatLabel>

          <div class="error-placeholder">
            @if (isInvalid('fullName')) {
              <p-message severity="error" size="small" variant="simple">
                Full Name is required.
              </p-message>
            }
          </div>
        </div>

        <!-- Age -->
        <!-- <div class="field-container">
          <p-floatLabel variant="on">
            <input
              pInputText
              id="age"
              type="number"
              formControlName="age"
              [invalid]="isInvalid('age')" />
            <label for="age">Age</label>
          </p-floatLabel>

          <div class="error-placeholder">
            @if (registerForm.get('age')?.hasError('min')) {
              <p-message severity="error" size="small" variant="simple">
                Age must be 18 or above.
              </p-message>
            }
          </div>
        </div> -->

        <!-- Username -->
        <!-- <div class="field-container">
          <p-floatLabel variant="on">
            <input
              pInputText
              id="username"
              type="text"
              formControlName="username"
              [invalid]="isInvalid('username')" />
            <label for="username">Username</label>
          </p-floatLabel>

          <div class="error-placeholder">
            @if (isInvalid('username')) {
              <p-message severity="error" size="small" variant="simple">
                Username is required.
              </p-message>
            }
          </div>
        </div> -->

        <!-- Email -->
        <div class="field-container">
          <p-floatLabel variant="on">
            <input
              pInputText
              id="email"
              type="email"
              formControlName="email"
              [invalid]="isInvalid('email')" />
            <label for="email">Email</label>
          </p-floatLabel>

          <div class="error-placeholder">
            @if (isInvalid('email')) {
              <p-message severity="error" size="small" variant="simple">
                @if (registerForm.get('email')?.errors?.['required']) { Email is required. }
                @if (registerForm.get('email')?.errors?.['email']) { Invalid email format. }
              </p-message>
            }
          </div>
        </div>

        <!-- Password -->
        <div class="field-container">
          <p-floatLabel variant="on">
            <p-password
              inputId="password"
              formControlName="password"
              [toggleMask]="true"
              [feedback]="true"
              [invalid]="isInvalid('password')">
            </p-password>
            <label for="password">Password</label>
          </p-floatLabel>

          <div class="error-placeholder">
            @if (isInvalid('password')) {
              <p-message severity="error" size="small" variant="simple">
                Must contain 1 uppercase & 1 number.
              </p-message>
            }
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="field-container">
          <p-floatLabel variant="on">
            <p-password
              inputId="confirmPassword"
              formControlName="confirmPassword"
              [toggleMask]="true"
              [feedback]="false"
              [invalid]="isInvalid('confirmPassword')">
            </p-password>
            <label for="confirmPassword">Confirm Password</label>
          </p-floatLabel>

          <div class="error-placeholder">
            @if (registerForm.hasError('mismatch')) {
              <p-message severity="error" size="small" variant="simple">
                Passwords do not match.
              </p-message>
            }
          </div>
        </div>

        <!-- Button -->
        <p-button
          label="Register"
          styleClass="register-btn"
          type="submit">
        </p-button>

        <p class="login-text">
          Already have an account?
          <span routerLink="/login">Login</span>
        </p>

      </div>
    </form>
  </p-card>
</div>

<p-toast></p-toast>
