<div class="login_wrapper">
  <i
    class="pi theme-icon"
    [class]="isDarkMode ? 'pi pi-sun' : 'pi pi-moon'"
    (click)="toggleDarkMode()"
  ></i>

  <p-card class="login_card">
    <button class="back-btn" routerLink="/" type="button">
      ← Back
    </button>

    <ng-template pTemplate="header">
      <h2 style="text-align: center; padding-top: 2rem; margin-bottom: 0;">
        Login to Your Account
      </h2>
    </ng-template>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form_group">
      <!-- Email -->
      <div class="field-container">
        <p-floatLabel variant="on">
          <input
            pInputText
            id="email"
            type="email"
            formControlName="email"
            autocomplete="off"
            [invalid]="isInvalid('email')"
          />
          <label for="email">Email</label>
        </p-floatLabel>

        <div class="error-placeholder">
          @if (isInvalid('email')) {
            <p-message severity="error" size="small" variant="simple">
              @if (loginForm.get('email')?.errors?.['required']) { Email is Required. }
              @if (loginForm.get('email')?.errors?.['email']) { Please enter a valid email. }
            </p-message>
          }
        </div>
      </div>

      <!-- Password -->
      <div class="field-container">
        <p-floatLabel variant="on">
          <p-password
            inputId="password"
            formControlName="password"
            [toggleMask]="true"
            [feedback]="true"
            promptLabel="Enter password"
            weakLabel="Weak"
            mediumLabel="Medium"
            strongLabel="Strong"
            [invalid]="isInvalid('password')"
          ></p-password>
          <label for="password">Password</label>
        </p-floatLabel>

        <div class="error-placeholder">
          @if (isInvalid('password')) {
            <p-message severity="error" size="small" variant="simple">
              Password is required.
            </p-message>
          }
        </div>
      </div>

      <!-- Forgot password -->
      <p class="forgot-text">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </p>

      <!-- Sign In -->
      <p-button label="Sign In" styleClass="login-btn" type="submit"></p-button>

      <!-- Signup -->
      <p class="signup-text">
        Don’t have an account?
        <span routerLink="/register">Sign up</span>
      </p>
    </form>
  </p-card>
</div>

<p-toast></p-toast>
``
