
.trigger-add-btn {
    background-color: #059669;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px; 
}

.trigger-add-btn:hover {
    background-color: #008f6c;
}


.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.field label {
    font-weight: 600;
    font-size: 14px;
    color: #334155;
    font-family: 'Inter', sans-serif ;
}

.form-row {
    display: flex;
    gap: 16px;
}

.flex-1 {
    flex: 1;
}

.custom-input {
    padding: 10px 12px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    outline: none;
}

.custom-input:focus {
    border-color: #00a67e;
}

.add-to-portfolio-btn {
    width: 100%;
    background-color: #059669;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
}

.add-to-portfolio-btn:hover {
    background-color: #008f6c;
}